<mat-card class="course-card">
  <mat-card-header>
    <div mat-card-avatar class="course-image"></div>

    <mat-card-title-group>
      <mat-card-title><img src= {{course.imageLink}}></mat-card-title>
      <mat-card-title>{{course.pieceName}}</mat-card-title>
      <mat-card-subtitle>Created by {{course.artistName}} on {{course.createdDate | date}}</mat-card-subtitle>
      <!--<mat-card-subtitle>Ends on {{course.endDate | date}}</mat-card-subtitle> -->
      <mat-card-subtitle>{{course.medium}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-title-group>
     <button  *ngIf= "favorite== false" (click)="fav()" ><mat-icon>star_border</mat-icon> </button>
    <button *ngIf= "favorite"  (click)="unfav()" ><mat-icon>star</mat-icon> </button>
        </mat-card-title-group>
    <div fxFlex></div>
   



  </mat-card-header> 
<!--    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p>
      {{course.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>

<!--    TODO: look at HW4 and modify the buttons in a way where students only see the 'view button' if they are registered for the course. Professors will only see 'view'
           Clicking View will invoke differnt functions inside home.component.ts depending on whether it was clicked by professor or student.
-->
   <button mat-menu-item   (click) = "viewCourseAttendances(course._id)" >
        <mat-icon>visibility</mat-icon>
        <span>View picture</span>
      </button>
       <button mat-menu-item   (click) = "delete(course._id)" >
        <mat-icon>delete</mat-icon>
        <span>Delete picture</span>
      </button>
     
  </mat-card-actions>
</mat-card>
