

<!--TODO: finish the table. Hint: https://stackblitz.com/angular/lpeblnglgbq?file=app%2Ftable-filtering-example.ts-->


<div class="container" >
<mat-card class="art-card"  *ngFor ="let art of attends"> 
  <mat-card-header>
    

    <mat-card-title-group >
      <mat-card-title><img src= {{art.imageLink}}></mat-card-title>
      <mat-card-title>{{art.pieceName}}</mat-card-title>
      <mat-card-subtitle>Created by {{art.artistName}} on {{art.createdDate | date}}</mat-card-subtitle>
      <!--<mat-card-subtitle>Ends on {{artist.endDate | date}}</mat-card-subtitle> -->
      <mat-card-subtitle>{{art.medium}}</mat-card-subtitle>
            <mat-card-subtitle> Like count: {{art.likeTotal}}</mat-card-subtitle>

   
   
        </mat-card-title-group>



  </mat-card-header> 
 
<!--    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  
    <mat-card-actions>

<!--    TODO: look at HW4 and modify the buttons in a way where users only see the 'view button' if they are registered for the artist. creators will only see 'view'
           Clicking View will invoke differnt functions inside home.component.ts depending on whether it was clicked by creator or user.
-->
     <button mat-menu-item   (click) = "viewPicturePage(art._id)" >
        <mat-icon>visibility</mat-icon>
        <span>View picture</span>
      </button>
        <button mat-menu-item  (click) = "delete(art.id)" >
        <mat-icon>delete</mat-icon>
        <span>Delete picture</span>
      </button>
       <button mat-menu-item  (click) = "edit(art.id)" >
        <mat-icon></mat-icon>
        <span>Edit picture</span>
      </button>
     
  </mat-card-actions>
   
  
</mat-card>

 </div>

<div class="fab-container"  >
  <button  mat-flat-button color="primary"  matTooltip="Add new class" (click)= createArt()>
    <i class="material-icons">add</i>
  </button>
  </div>
