<div class="course-list-container">


    <!--                   TODO: you must handle the new "@Output"s from the course component-->
  <course-component class="card-item"  *ngFor="let course of courses" [course]="course"
                    (artistPageEvent)=  " viewArtistPage($event)" (PicturePageEvent)=  "viewPicturePage($event)" (registerEvent) = "registerCourse($event)"  (deleteEvent) = "deleteCourse($event)"  (createAttendanceEvent) = "createAttendance($event)">



                    </course-component>



</div>



<div class="fab-container"  *ngIf="isCreator">
  <button  mat-flat-button color="primary"  matTooltip="Add new class" (click)= createCourse()>
    <i class="material-icons">add</i>
  </button>
  </div>
  
<!--  TODO: add another version of mat-flat-button that user will only users see. Hint: use *ngIf and isCreator.-->

